<header class="jumbotron page-header">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div id="welcome">
            <div id="welcome-logo"><img src="/images/cecoban-logo1.png"</img></div>
            <div id="welcome-cecoban">Bienvenido a CECOBAN</div>
            <div id="welcome-message">Tu sócio en la plataforma Open Banking</h1>
            </div>
        </div>
        </div>
    </div>
</header>

<section class="start">
    <div class="container">
        <div id="security-marketing" class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="image-center">
                                    <img src="/images/lock.png" width="50px" height="50px"/>
                                </div> 
                                <div class="security-title">
                                    Keep passwords to yourself
                                </div>                                    
                            </div>
                            <div class="panel-body panel-footer">
                                    <p>With Open Banking, you’re never asked to share your password or login details with anyone other than your own bank or building society.</p> 
                                    <p>Safe. Secure. Simple.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="image-center">
                                    <img src="/images/lock.png" width="50px" height="50px"/>
                                </div> 
                                <div class="security-title">
                                    You stay in control
                                </div>
                            </div>
                            <div class="panel-body panel-footer">
                                <p>
                                This allows regulated third party providers to set up or make payments directly 
                                from an online payment account, such as a single payment or a recurring payment.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="image-center">
                                    <img src="/images/lock.png" width="50px" height="50px"/>
                                </div> 
                                <div class="security-title">
                                    You're protected
                                </div>                                      
                            </div>
                            <div class="panel-body panel-footer">                    
                                <p>Apps and websites enrolled on the Open Banking Directory are regulated by the Financial Conduct Authority (FCA) or European equivalent. It means there are strict rules about how they operate and keep your data secure.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container-->
</section>

{% if current_user %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Your API Key</h1>
                <br>
                <p class="lead">
                    This is your API key that should be kept secret. Use it to authenticate and report the calls you make to the Open Banking APIs.
                </p>
            </div>
            <div class="col-md-6" style="padding-top:2em;">
                <div class="panel panel-default" id="access-details">
                    <div class="panel-heading">
                        <i class="fa fa-key"></i>
                        Credentials
                        {% if current_account.applications.size > 0 %}
                            <a class="pull-right" href="{{ urls.applications }}" title="Applications">
                            <i class="fa fa-chevron-right"></i>
                            </a>
                        {% endif %}
                    </div>
                    <div class="panel-body panel-footer">
                    {% if current_account.applications.size == 0 %}
                        <a href="{{ urls.new_application }}" class="btn btn-primary">Create Application</a>
                    {% elsif current_account.applications.size == 1 %}
                        {% assign app = current_account.applications.first %}

                        {% if app.user_key_mode? %}
                        <dl class="dl-horizontal">
                            <dt>App name</dt>
                            <dd><a href="{{ app.url }}">{{ app.name }}</a></dd>
                            <dt>Key</dt>
                            <dd>
                            <code>{{ app.user_key }}</code>
                            <p>Add this as a <code>user_key</code> parameter to your API calls to authenticate.</p>
                            </dd>
                        </dl>

                        {% elsif app.app_id_mode? %}
                        <dl class="dl-horizontal">
                            <dt>App name</dt>
                            <dd><a href="{{ app.url }}">{{ app.name }}</a></dd>
                            <dt>App ID</dt>
                            <dd><code>{{ app.application_id }}</code></dd>
                            <dt>Key</dt>
                            <dd><code>{{ app.keys.first }}</code></dd>
                        </dl>

                        {% elsif app.oauth_mode? %}
                        <dl class="dl-horizontal">
                            <dt>App name</dt>
                            <dd><a href="{{ app.url }}">{{ app.name }}</a></dd>
                            <dt>Client ID</dt>
                            <dd><code>{{ app.application_id }}</code></dd>
                            <dt>Client Secret</dt>
                            <dd><code>{{ app.keys.first }}</code></dd>
                        </dl>
                        {% endif %}

                        {% if app.trial? %}
                        <div class="alert alert-warning">
                            <h3>Trial period</h3>
                            <p>{{ app.remaining_trial_period_days }} days remaining.</p>
                        </div>
                        {% endif %}

                    {% elsif current_account.applications.size > 1 %}
                        <a href="{{ urls.applications }}" class="btn btn-primary">See your Applications & their credentials</a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

{% else %}

<section class="sell">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Register</h3>
                <p>
                <i class="fa fa-sign-in fa-3x pull-left"></i>
                Register to the developer portal to use the Open Banking APIs
                </p>
            </div>
            <div class="col-md-4">
                <h3>Get your API key</h3>
                <p>
                <i class="fa fa-key fa-3x pull-left"></i>
                Use your API key to authenticate and report the calls you make
                </p>
            </div>
            <div class="col-md-4">
                <h3>Create your app</h3>
                <p>
                <i class="fa fa-code fa-3x pull-left"></i>
                Start coding and create awesome applications with the Open Banking APIs
                </p>
            </div>
        </div>
    </div>
</section>

<section class="invert">
        <div class="container">
            <h1>Products</h1>
            <div class="description">
                <p>You can visit the product pages below or view the technical API documentation for further details</p>
            </div>
            <div class="row open-services">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading image-center">
                                    <img src="/images/account-icon.png" width="50px" height="50px" /> 
                                    <div class="catalog-title">Account Information API</div>
                                </div>
                                <div class="panel-body">
                                    <p>
                                    This allows regulated third party providers to read account information, such as transaction or balance
                                    details in an online payment account.
                                    </p>                                    
                                </div>
                                <div class="panel-footer">
                                    <a class="btn btn-primary btn-lg products-overview" href="/login">Try it</a>
                                    <a class="btn btn-primary btn-lg" href="/docs">Documentation</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading image-center">
                                    <img src="/images/payment-icon.png" width="50px" height="50px" />
                                    <div class="catalog-title">Payment Initiation API</div>
                                </div>
                                <div class="panel-body">
                                    <p>
                                    This allows regulated third party providers to set up or make payments directly 
                                    from an online payment account, such as a single payment or a recurring payment.
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    <a class="btn btn-primary btn-lg products-overview" href="/login">Try it</a>
                                    <a class="btn btn-primary btn-lg" href="/docs">Documentation</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading image-center">
                                    <img src="/images/opendata-icon.png" width="50px" height="50px" />
                                    <div class="catalog-title">Open Data API</div>
                                </div>
                                <div class="panel-body">      
                                    <p>              
                                    This makes publicly available information easy to use in mobile and web 
                                    applications. This data includes product information, ATM and branch 
                                    locations plus information and metrics about service quality.                
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    <a class="btn btn-primary btn-lg products-overview" href="/login">Try it</a>
                                    <a class="btn btn-primary btn-lg" href="/docs">Documentation</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container-->
    </section>
    

<section class="plans" id="plans">
    <div class="container">
        <div class="plan-title">Account and Payment APIs</div>
        <div class="row">
            {% for plan in provider.services.open-data-api.application_plans %}
            <div class="col-md-6">
                <article class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{ plan.name }}</strong>
                </div>
                <div class="panel-body">
                    <div class="row">

                    {% if plan.features == present %}
                        <div class="col-md-6">
                        <h5>Features</h5>
                        <ul class="features list-unstyled">
                            {% for feature in plan.features %}
                            <li>
                                <i class="fa fa-check"></i>
                                {{ feature.name }}
                            </li>
                            {% endfor %}
                        </ul>
                        </div>
                    {% endif %}

                    <div class="col-md-6">
                        <h5>Limits</h5>
                        <ul class="limits list-unstyled">
                        {% if plan.usage_limits == present %}
                            {% for limit in plan.usage_limits %}
                            <li>
                                <i class="fa fa-signal"></i>
                                {{ limit.metric.name }} &ndash; {{ limit.value }} {{ limit.metric.unit }}s per {{ limit.period }}
                            </li>
                            {% endfor %}
                        {% else %}
                            <li>
                            <i class="fa fa-signal"></i>
                            No limits
                            </li>
                        {% endif %}
                        </ul>
                    </div>

                    </div>
                </div>
                    <div class="panel-footer">
                    <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-success pull-right" href="{{ urls.signup }}?{{ plan | to_param }}">Signup to plan {{ plan.name }}</a>
                    </div>
                    </div>

                </div>
                </article>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}